.footer {
    text-align: center;
    padding: 20px;
    background-color: #2f7f32;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 15px;
    color: #fbf8f8;
  }
  
  @media (max-width: 768px) {
    .footer {
      padding: 15px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .footer {
      padding: 10px;
      font-size: 10px;
    }
  }
  